.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

  /* .Signin form{
    padding: 15px;
    justify-content: center;
    margin: auto;
    padding: 150px 0;
    height: 100%;
    width: 40%;
  } */

  .Login {
    justify-content: center;
    margin: auto;
    padding: 150px 0;
    height: 100%;
    width: 40%;
  }

  .Login form {
    padding: 15px;
    border: solid;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    max-width: 320px;
    height: 600px;
    
  }

  .form-controll{
    border-radius: 50px;
  }

 .Username{
   padding: 19px;
   margin-top: 50px;
 }

  .Login button{
    margin: auto;
    width: 250px;
    justify-content: center;
    border-radius: 50px;

  }

.Login p.signuptext{
  justify-content: center;
  margin: 40px;
  width: 240px;
}

  .signin{
    text-size-adjust: 25px;
  }
  
.form-container .wholethang{
  padding: 30px;
  margin: 211px;
  justify-content: center;
}

.form-container .form-group{
  margin: auto;
  justify-content: center;
  padding: 55px;
  border: solid;

}
html,


body,


header,


#intro {


    height: 100%;


}


 


#intro {


    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;


    -webkit-background-size: cover;


    -moz-background-size: cover;


    -o-background-size: cover;


    background-size: cover;


}


 


 

