
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.about {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    place-items: center;
    vertical-align: center;
    line-height: 100%;
    margin:auto;
    position: absolute;
    color:white;
  }
body {
  color:white;
}

       .OurLogo {
        justify-content: left;
        align-content: space-between;
        align-items: left;
        position: left;
        text-align: left;
        display: grid;
        justify-content: space-between;
        
       
      }


.Gallery {
  align-content: left;
  background-color: lightblue;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  overflow: hidden;
  float: bottom;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}





   img {
   max-height: 250px;
   max-width: 350px;
   align-content: top;
   text-align: left;
   float: left;
   position: relative;
   margin: 10px 15px 15px 10px;

   }
        
  p {
  font-family: 'Zen Tokyo Zoo', cursive;
  color:#ffffff;
  font-display: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  padding: 5px;
  box-sizing: border-box;
  text-align: middle;
  }


        .bg-div {
          overflow: hidden;
       }
       nav {
           float: right;
       }

       
   h1 {
    font-family: 'Zen Tokyo Zoo', cursive;
   }

