@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.about {
  text-align: center;
  place-items: center;
  vertical-align: center;
  line-height: 100%;
  margin: auto;
  color: white;
}

#connorimg {
  width: 300px;
}

.OurLogo {
  justify-content: left;
  align-content: space-between;
  align-items: left;
  position: left;
  text-align: left;
  display: grid;
  justify-content: space-between;
}

.Gallery {
  justify-content: center;
  background-color: lightblue;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  display: block;
}

img {
  max-height: 250px;
  max-width: 250px;
  margin: 10px 15px 15px 10px;
  justify-content: center;
}

p {
  font-family: "Bree Serif", serif;
  font-display: center;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  text-align: middle;
}

.container {
  color: white;
}

.bg-div {
  overflow: hidden;
}

h1 {
  font-family: "Bree Serif", serif;
}

@media (max-width: 474px) {
  #navbar {
    width: 100%;
  }
}

@media (min-width: 574px) {
  .Gallery {
    display: block;
  }
}
