.Login {
  justify-content: center;
  margin: auto;
  height: 100%;
  background-color: none;
}

.Login form {
  padding: 15px;
  border: solid;
  border-radius: 25px;
  justify-content: center;
  margin: auto;
  max-width: 320px;
  height: 530px;
  background-image: linear-gradient(130deg, #6250a6, #59fad2);
}

.Username {
  padding: 19px;
  margin-top: 70px;
}

.Login button {
  margin: auto;
  width: 250px;
  justify-content: center;
  border-radius: 50px;
}

.Login p.signuptext {
  justify-content: center;
  margin: auto;
  padding: 0px 0;
  height: 100%;
  width: 65%;
  color: white;
}

label.form-label{
  color: white;
}

#loginheader{
  color: white;
}

@media (max-width: 575px) {
  .Login form {
    height: 530px;
    justify-content: center;
    margin: auto;
    width: 270px;
  }
  #loginheader {
    text-align: center;
    color: white;
  }


/* .modal {
  max-width: 600px;
  justify-content: center;
  margin: auto;
} */
}

@media (min-width: 768px) {
  .Login form {
    height:530px;
    justify-content: center;
    margin: auto;
    width: 530px;
  }
}

@media (min-width: 992px) {
    .nav-item button.btn.btn{
       margin-right: 10px; 
    }
}
