.Signup {
  justify-content: center;
  margin: auto;
  padding: 0px 0;
  height: 100%;
  width: 20%;
}

.Signup h4 {
  justify-content: center;
  margin: auto;
  text-align: center;
}



@media (min-width: 450px)  {
  
  
  }
  
  @media (min-width: 768px) {
   
  }
  
  
  @media (min-width: 992px)  {
     
  }
