.about-title-container {
    background-image: url();
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 70vh;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  #about-title {
    text-align: center;
    font-size: 7vw;
    color: rgb(8, 185, 141);
    text-shadow: 5px 4px #837bca, 8px 8px rgb(66, 174, 207);
    padding-top: .4rem;
    font-family: "Oswald", sans-serif;
    width: inherit;
    letter-spacing: 9px;
    font-weight: 900;
  }
  
  .about-subtitle {
    text-align: center;
    font-size: 3rem!important;
    color: rgb(30, 96, 116);
    font-weight: bolder;
    margin-left: 0% 5rem;
    padding-bottom: 20px;
    width: inherit;
    letter-spacing: 8px;
    font-family: "Oswald", sans-serif;
    text-shadow: 1px 1px rgb(245, 245, 245);
  }
  
  .about-main {
    color: rgb(87, 27, 27);
    margin: 1% 5rem;
    font-family: "Jost", sans-serif;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 1.1rem!important;
  }
  
  span {
    color: #039ae0;
  }
  
  @media only screen and (max-width: 1500px) {
    .about-title-container {
      height: 40vh;
      width: auto;
      background-position: center bottom;
    }
  
    #about-title {
      padding-top: 4rem;
    }
  
    .about-subtitle {
      font-size: 2rem;
      margin: 1rem;
    }
  
    .about-main {
      margin: 1rem 2.5rem;
      font-size: 2.2vw;
    }
  
    .crew-card-container {
      display: flex;
      width: 70%;
      justify-content: center;
      margin: 2rem;
      padding: 1rem;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .about-title-container {
      height: 30vh;
      width: auto;
      background-position: center bottom;
    }
  
    #about-title {
      padding-top: 3rem;
      text-shadow: 3px 2px #333B3F, 5px 5px rgb(30, 96, 116);
    }
  
    .about-subtitle {
      font-size: rem;
      margin: 1rem;
    }
  
    .about-main {
      margin: 1rem 2rem;
      font-size: 2.5vw;
    }
  
  
  @media only screen and (max-width: 900px) {
    .about-title-container {
      height: 30vh;
      width: auto;
      background-position: center bottom;
    }
  
    #about-title {
      padding-top: 3rem;
    }
  
    .about-subtitle {
      font-size: 1rem;
      margin: 1rem;
    }
  
    .about-main {
      margin: 1% 1rem;
      font-size: 2.5vw;
    }

  
  @media only screen and (max-width: 600px) {
    .about-title-container {
      height: 11em;
      width: auto;
      background-position: center bottom;
    }
  
    #about-title {
      padding-top: 3rem;
    }
  
    .about-subtitle {
      font-size: 1.4rem;
      margin: 1rem;
    }
  
    .about-main {
      margin: 1% 1rem;
      font-size: 2.5vw;
    }
} .aboutjs
  
}
}